            /* Global */
            
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            
            html {
                scroll-behavior: smooth;
            }
            
            body {
                width: 90%;
                margin: auto;
                background-color: rgb(255, 255, 255);
            }
            /* Navbar Boshlanishi */
            
            .navbar {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            nav ul {
                width: 100%;
                display: flex;
            }
            
            nav ul li {
                margin-right: 50px;
            }
            
            a {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                text-decoration: none;
                color: #252B42;
                font-size: 16px;
            }
            
            a:hover {
                color: #FA4A0C;
            }
            
            ul {
                list-style: none;
            }
            /* Navbar tugashi */
            /* Header boshlanishi */
            
            .banner {
                background-image: url(../images/background.png);
                width: 100%;
                height: 619px;
                background-repeat: no-repeat;
                color: #F7F7F7;
            }
            
            .banner h3 {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 24px;
                text-align: center;
                padding-top: 120px;
            }
            
            .banner h2 {
                font-family: 'Poppins';
                font-weight: bold;
                font-size: 58px;
                text-align: center;
                color: #FFFFFF;
                padding-top: 20px;
                width: 70%;
                margin: auto;
            }
            
            .banner h4 {
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 24px;
                text-align: center;
                color: #F7F7F7;
            }
            
            .buttons {
                display: flex;
                flex-direction: row;
                margin-left: 50%;
                transform: translate(-50%);
                margin-top: 50px;
            }
            
            .first-btn {
                font-size: 20px;
                font-weight: 700;
                border: 0.8px solid white;
                border-radius: 30px;
                width: 300px;
                height: 55px;
                background: #FA4A0C;
                color: #FFFFFF;
                margin-right: 15px;
                outline: none;
            }
            
            .second-btn {
                font-size: 20px;
                font-weight: 700;
                border: 0.8px solid white;
                border-radius: 30px;
                width: 300px;
                height: 55px;
                background: none;
                color: #FFFFFF;
                margin-left: 15px;
                outline: none;
            }
            
            .first-btn:hover {
                background: none;
            }
            
            .second-btn:hover {
                background: #FA4A0C;
            }
            
            .phones {
                display: flex;
                justify-content: center;
                position: relative;
                margin-top: -200px;
                margin-bottom: 50px;
            }
            
            .phones img {
                position: relative;
                margin-right: 120px;
                width: 60%;
            }
            
            hr {
                position: relative;
                border-radius: 30px;
                border: 3px solid #e4e4e4;
                background-color: #e4e4e4;
                margin: auto 18%;
            }
            /* Header qismi tugashi */
            /* About qismi boshlanishi */
            
            h1 {
                text-align: center;
                margin: 25px 0;
            }
            
            .box_one {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
            }
            
            .text h3 {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 24px;
                color: #FA4A0C;
                width: 100%;
                margin-bottom: 20px
            }
            
            .text h2 {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 40px;
                color: #252B42;
                width: 100%;
                margin-bottom: 30px;
            }
            
            .text h4 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 24px;
                color: #737373;
                width: 100%;
            }
            
            .box_one img {
                width: 50%;
            }
            
            .box_two {
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                width: 90%;
                margin: 0 10%;
            }
            
            .box_two img {
                width: 50%;
            }
            
            .box_three {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
            }
            
            .box_three img {
                width: 50%;
            }
            /* About tugashi */
            /* Product boshlanishi */
            
            #products {
                background-image: url(../images/background-2.png);
                background-repeat: no-repeat;
                width: 100%;
                height: 516px;
            }
            
            #products h2 {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 40px;
                text-align: center;
                color: #FFFFFF;
                padding-top: 150px;
                padding-bottom: 20px;
            }
            
            #products h4 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 24px;
                text-align: center;
                color: #FFFFFF;
                margin: 0 50px;
            }
            
            #products .box {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 25px 25px;
            }
            
            #products .box .button_one {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                font-size: 20px;
                font-weight: 700;
                border: 0.8px solid white;
                border-radius: 10px;
                width: 250px;
                height: 50px;
                background: #FA4A0C;
                color: #FFFFFF;
                margin-right: 25px;
                outline: none;
            }
            
            #products .box .button_two {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                font-size: 20px;
                font-weight: 700;
                border: 0.8px solid white;
                border-radius: 10px;
                width: 250px;
                height: 50px;
                background: none;
                color: #FFFFFF;
                outline: none;
            }
            
            #products .box .button_one:hover {
                background: none;
            }
            
            #products .box .button_two:hover {
                background: #FA4A0C;
            }
            /* Product tugashi */
            /* footer boshlanishi */
            
            #footer {
                height: 15vh;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            
            #footer p {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                font-size: 15px;
                text-align: right;
                color: #5C5C5C;
            }
            
            #footer i {
                display: flex;
                color: #FA4A0C;
                cursor: pointer;
            }
            
            #footer i:hover {
                color: #FF0000;
            }
            
            .navbar nav i {
                display: none;
            }